body {
  font-size: 16px;
  color: #f00;
}
body--alert {
  background: #808080;
}
body,
.light-theme {
  background: #ffffe0;
  color: #2c2c2c;
}
body .primer-hijo,
.light-theme .primer-hijo {
  margin-bottom: 24px;
}
body,
.light-theme {
  background: #ffffe0;
  color: #2c2c2c;
}
body > .primer-hijo,
.light-theme > .primer-hijo {
  margin-bottom: 24px;
}
